#incy-wincy-ancient-relics {
    display: flex;
    flex-direction: column;
    align-items: center;

    .myth-relic-row {
        display: flex;
        gap: 15px;
        margin-bottom: 10px;

        .myth-relic {
            padding: 5px;
            border-radius: 5px;

            &.unlocked {
                background: #959595;
            }
        }
    }
}
